<!DOCTYPE html>
<html lang="ja">
<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HL8MJRHSX8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HL8MJRHSX8');
</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="誰でも参加できるバドミントン大会を開催いたします。ご参加お待ちしています">
    <title>バドミントン大会 越谷 2024.9.8 | 鶯バドミントン</title>
    <link rel=”canonical” href=”https://badminton.shibuya8020.com/tournament_first.html” >
    <link rel="stylesheet" href="style02.css">
    <link rel="icon" href="images/favicon.ico" />

</head>
<body>
  <article>
    <div class="boxtop02">バドミントン大会のお知らせ</div>
    <div class="boxtop">2024.9.8 日曜日 13時開始-21時まで 越谷市立西体育館</div>
    <div class="boxtop">鶯杯其の壱 参加者募集中！</div>
        
            <div class="container_main">
                <div class="container01">
                  <div class="box001">鶯</div>
                  <div class="box001">杯</div>
                  <div class="box001">開</div>
                  <div class="box002">催</div>
                </div>
                
                <div class="container02">
                  <img src="images/bad02.jpg">
                </div>
                  <div class="container00">
                      <div class="container03">
                        <h1>UGUIS:Badminton journey Coming Soon! Let's join us</h1>

                      </div>
                  </div>
            </div>
        

  </article>
  
      <div class="container05"> 
        <h2>大会要項</h2>
      </div>
  
      <div class="container04">
        <h3>開催日時: 2024年9月8日 日曜日 13時--21時(最後の試合が終わり次第終了)</h3>
        <h3>会場: 越谷市立西体育館 〒343-0851 埼玉県越谷市七左町四丁目223番地</h3>
        <h3>体育館詳細:<a href="https://www.city.koshigaya.saitama.jp/toiawase/shisetsu/sportskouen/taiikukan/taiikukan-nishi.html" target="_blank">越谷市立西体育館</a></h3>
      
  
          <h3>参加資格</h3>
          <h3>年齢性別レベル不問バドミントンのルールがわかればどなたでも参加可能です</h3>
          <h3>男子ダブルス、女子ダブルス、ミックスダブルス全て参加できます。</h3>
          <h3>参加費:1人1500円(ペアで3000円です)</h3>          

      </div>

      <div class="container05"> 
        <h3>レベルが違っても楽しめるようにリーグ戦後に上位、下位に分かれてトーナメントを行います</h3><h3>
          のでリーグ戦で下位になっても試合ができるようにします</h3>
        <h3>個人で開催する初めての大会ですので至らないことも多々あると思います</h3>
         <h3>お手伝いをお願いすることもありますがご了承ください</h3>       
          <h2>1日中バドミントンを楽しみたい方是非ご参加ください</h2>
          
          <h2>事前登録必要</h2>
          <h3>主催者:渋谷 正彦 連絡先: <a href="tel:07066330363">070-6633-0363</a></h3>
          <h3>e-mail: <a href="mailto:shibuyamasahiko@gmail.com">shibuyamasahiko@gmail.com</a></h3>
      </div>




      
<div class=container_main02>
  <div class="box003">
    <h3>質問、エントリーはLINEでお願いします</h3>
    <img src="images/line.jpg">    
  </div>
  <div class="box003">
    <h3>大会要項PDF</h3>
    <img src="images/tournament_details.jpg">    
  </div>
  <div class="box003">
    <h3>詳細はホームページで</h3>
    <img src="images/website.png">    
  </div>
</div>
  <section>
    <a href="index.html"><h3>鶯バドミントン</a></h3>    
  </section>
  
    
   
     
</body>
</html>