{% extends "base.html" %}
{% block content %}
<style>

body{
    background-color: #beaa73;  
    
}


h1{    
    text-align: center;
    margin: 10px;      

}

h2{
    margin: 0;
    padding: 3px;
}


h3{
    margin: 3px;
    padding: 0;

}


img{
    margin: 5px;

}


.boxtop{   
    margin: 0;
    background-color: #beaa73;
    font-size: 30px;
    
    text-align: center;
}

.boxtop02{   
    margin: 0;
    background-color: #beaa73;    
    text-align: center;
}


.container_main{
    margin: 0;
    padding: 0;
    background-color: #beaa73;;
    display: flex;        
    flex-wrap: nowrap;
    justify-content: center;    
}

.container_main02{
    margin: 0;
    padding: 0;
    background-color: #beaa73;;
    display: flex;        
    flex-wrap: nowrap;
    justify-content: space-around;    
}

.container00{
    margin: 0;
    padding: 0;
    background-color: #beaa73;;
    display: left;
    flex-wrap: wrap;
    justify-content: center; 
    width: 95px    
}

.container01{
    background-color: #beaa73;;
    display: left;
    flex-wrap: wrap;
    justify-content: center; 
}

.container02{
    margin: 0 auto;
    padding: 0;
    background-color: #beaa73;
    border: 5px solid black;      
    display: flex;
    justify-content: center;    
    width: fit-content;  /* 追加 */
}

.container03{
    margin: 0;
    padding: 0;    
    transform-origin: bottom left;
    transform: rotate( 90deg ) translateX(-50px);   
    font-family : Franklin Gothic;    
    font-weight: normal;
    color: #000000;
    background-color: #beaa73;         
    width: 600px; 
    height: 50px;        
}


.container04{
    text-align: left;              
    font-weight: normal;
    color: #000000;
    background-color: #beaa73;         
    width: 700px;    
    margin:0 auto;
    padding: 0;            
}

.container05{
    text-align: center;
    padding: 0;            
    font-weight: normal;
    color: #000000;
    background-color: #beaa73;            
    margin:0 auto; 
    padding: 0;       
}

.box001{
    width:100px;
    height:100px;
    margin: 20px 30px;
    background-color: #beaa73;
    color: #beaa73;
    font-size: 110px;
    font-weight: bold;
    text-align: center;
    
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black; 
    
}

.box002{
    width:100px;
    height:100px;
    margin: 20px 30px;
    background-color: #beaa73;
    color: #000000;
    font-size: 110px;
    font-weight: bold;
    text-align: center;       
    
}

.box003{    
    margin: 20px 30px;
    background-color: #beaa73;
    color: #000000;
    font-weight: bold;
    text-align: center;      
}

.tournament-image {
    max-width: 490px;
    max-height: 500px;
    width: auto;
    height: auto;
}
</style>

  
    <h1>バドミントン大会</h1>
    <div class="boxtop">2025.10.12 日曜日 9時開始~終わるまで</div>
       <div class="boxtop">鶯杯其の弐 参加者募集中！</div>
        
            
                
                <div class="container02">
                  <img src="{{ url_for('static', filename='images/2025/tournament2025_03.jpg') }}" 
                      class="tournament-image">
                </div>               
                     

 
  
      <div class="container05"> 
        <h2>大会要項</h2>
      </div>
  
      <div class="container04">
        <h3>開催日時: 2025年10月12日(日) 9時～終わるまで</h3>
        <h3>会場: 越谷市立西体育館</h3>
        <h3>〒343-0851 埼玉県越谷市七左町四丁目223番地</h3>
        <h3>体育館詳細:<a href="https://www.city.koshigaya.saitama.jp/toiawase/shisetsu/sportskouen/taiikukan/taiikukan-nishi.html" target="_blank">越谷市立西体育館</a></h3>
      
  
          <h3>参加資格</h3>
          <h3>年齢性別レベル不問バドミントンのルールがわかればどなたでも参加可能です</h3>
          <h3>男子ダブルス、女子ダブルス、ミックスダブルス全て参加できます。</h3>
          <h3>参加費:1人1800円(ペアで3600円です)</h3>          

      </div>

      <div class="container05"> 
        <h3>レベルが違っても楽しめるようにリーグ戦後に上位、下位に分かれてトーナメントを行います</h3><h3>
          のでリーグ戦で下位になっても試合ができるようにします</h3>
        <h3>個人で開催する大会ですので至らないことも多々あると思います</h3>
         <h3>お手伝いをお願いすることもありますがご了承ください</h3>       
          <h2>1日中バドミントンを楽しみたい方是非ご参加ください</h2>
          
          <h2>事前登録必要</h2>
          <h3>主催者:渋谷 正彦 連絡先: <a href="tel:07066330363">070-6633-0363</a></h3>
          <h3>e-mail: <a href="mailto:shibuyamasahiko@gmail.com">shibuyamasahiko@gmail.com</a></h3>
      </div>




      
<div class=container_main02>
  <div class="box003">
    <h3>質問、エントリーはLINEでお願いします</h3>
     <div class="d-flex flex-column align-items-center gap-3 mb-4" >
            <a href="https://line.me/ti/p/gErDAMJEId" target="_blank" rel="noopener noreferrer" class="btn" style="background-color: #00B900; color: white; font-size: 1.5rem; width: 100%;; max-width: 100%;"><b>LINEで連絡 ココをクリック</b></a>
        </div>   
  </div>
  

</div>   
   
     
{% endblock %}