{% extends "base.html" %}
{% block title %}鶯 | 越谷市バドミントンサークル質問{% endblock %}
{% block description %}越谷市で活動しているバドミントンサークルです。なんでも質問にお答えします{% endblock %}
{% block content %}   

<style>
    .iframe-container {
        background-color: #f4f4f4;
        position: relative;
        width: 100%;
        height: 800px;  /* 固定の高さを設定 */          
        margin:0 auto;
        overflow: hidden;
      }
      .iframe-container iframe {
        width: 100%;
        height: 100%;   
        margin: 0 auto;
      }   
      
    </style>
    
    
        <!-- 埋め込み用のセクション -->
        <div class="iframe-container">
            <iframe src="https://bad-manager.shibuya8020.com/" 
                    allowfullscreen 
                    loading="eager"
                    title="鶯チャットボット">
            </iframe>
        </div>
{% endblock %}