{% extends "base.html" %}

{# SEO最適化 #}
{% block title %}鶯コンセプト｜参加にあたって{% endblock %}
{% block description %}埼玉県越谷市で活動しているバドミントンサークルです。経験者から初心者まで楽しく活動中。見学・体験随時募集中。{% endblock %}
{% block keywords %}埼玉県,越谷市, バドミントン, サークル, 練習, 見学, 体験{% endblock %}

{% block content %}   

<style>   
.accordion-button::after {
    display: none !important;  /* アコーディオンの矢印を非表示 */
}
.accordion-header{
    background-color: #ffffff;
    padding: 100;
    margin: 5;   
}

.accordion-button {  
    background-color: #ffffff;;  
    padding: 0;
    margin: 0;
    font-size: 1.2rem; /* フォントサイズを調整 */
}

.accordion-item {
    background-color: #ffffff;;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem !important;
}

/* レスポンシブ調整 */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 0.5rem;
    }        
    
}

.participant-name {
    z-index: 1000;
    position: relative;
    pointer-events: auto;
}

</style>

<section id="about" class="mt-3 mb-3 text-center">
    <h1>鶯バドミントン 越谷市</h1> 
    <img src="{{ url_for('static', filename=selected_image) }}" alt="バドミントンの画像" class="img-fluid">
    <h2 class="mb-3">バドミントンメンバー募集</h2>
    <p>初級者～上級者どなたでも参加できます<br>
        レベルが違っても楽しくゲームできる方<br>
    小中学生、未経験者はご相談ください<br>
                </p>
    
                <div class="row justify-content-center">  
                    <div class="col-12 col-md-8 text-center">  
                        <div>
                            <h3>参加費</h3>
                            <p>1000円</p>
                        </div>
                        <h3>練習場所</h3>
                        <div class="mb-3">            
                            <p><b>北越谷体育館 越谷市立地域スポーツセンター</b><br>
                            〒343-0025 埼玉県越谷市大沢二丁目10番21号<br>
                            北越谷駅東口 徒歩7分</p>
                        </div>
                        <div>            
                            <p><b>越谷市立総合体育館 第一体育室または第二体育室</b><br>
                            〒343-0011埼玉県越谷市増林ニ丁目33番地<br></p>
                        </div>
                    </div>
                </div>

</section>



      <section id="contact" class="mb-5 text-center">

        <h3 class="mb-3">ご質問、ご相談、初参加で不安など、LINEでご連絡ください</h3>
        <div class="d-flex flex-column align-items-center gap-3 mb-4" >
            <a href="https://line.me/ti/p/gErDAMJEId" target="_blank" rel="noopener noreferrer" class="btn" style="background-color: #00B900; color: white; font-size: 1.5rem; width: 700px; max-width: 100%;"><b>LINEで連絡</b></a>
        </div>

        <section class="mb-2 text-center">
        渋谷: <a href="tel:07066330363">070-6633-0363</a><br>
        e-mail: <a href="mailto:shibuyamasahiko@gmail.com">shibuyamasahiko@gmail.com</a>       
      </section>
        <section class="text-center">
          <a href="https://x.com/rbn17pjAfz41575" target="_blank" rel="noopener noreferrer" class="btn btn-primary me-2">X（旧Twitter）</a>
          <a href="https://www.instagram.com/kosigayabadminton/" target="_blank" rel="noopener noreferrer" class="btn btn-info">Instagram</a>
        </section>
    
        
      </section>

{% endblock %}